NODE_ENV="development"

BETTER_AUTH_SECRET="your_secret_key_here"
BETTER_AUTH_URL="http://seu_dominio:3333" # Não usar localhost pois o app roda no docker

DATABASE_USERNAME="postgres"
DATABASE_PASSWORD="postgres"
DATABASE_PORT="5432"
DATABASE_NAME="educamestre"

OAUTH_CLIENT_ID="your_oauth_client_id_here"
OAUTH_CLIENT_SECRET="your_oauth_client_secret_here"

DATABASE_URL="postgresql://postgres:postgres@db:5432/educamestre?schema=public"

PORT="3333"

FRONTEND_ORIGIN="http://seu_dominio:3000"